/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .section-title{
    font-size: 30px;
  }
  .banner-page{height: auto;padding-top: 0}
  .section-heading{margin-bottom: 40px;}
  .banner-row-left{
    margin: 0 auto !important;
  }
  .banner-left {
    margin-top: 100px;
  }
  .ex-story-right{
    margin-top: 50px;
  }
  .single-person{
    margin-bottom:  30px;
  }
  .news-content{padding: 20px;}
  section{padding-bottom: 0;padding-top: 50px;}
  .footer-div{
    margin-bottom:  30px;
    padding-left: 25px;
  }
  .contact-address ul li:not(:last-child){margin-bottom: 10px;}

  .features-box{margin-bottom: 30px;}
  .about-img-1{margin-bottom: 20px;}
  .about-group-img h3{font-size: 30px;line-height: 40px;}
  .figure-img{margin-bottom: 20px;}
  .mt-sm-4{margin-top: 20px;}
  .top-img{text-align: center;}


  .banner-page .section-title{
    font-size: 40px;
  }
  .content-box {
      margin-top: 50px;
      padding-right: 0;
      padding-left: 20px;
  }
  .our-team .section-heading{text-align: center !important;}
  #testimonial{margin-top:30px;}
  .carousel-item{text-align: center;}
  .test_btn{bottom: -105%;top:0;}
.c_item{margin-bottom: 30px;}
.contact-page .section-heading{text-align: center;
  }
    .w-count{
    /*font-size: 18px;*/
    line-height: 22px;
    justify-content: center;
  }

  .mb-sm-4{margin-bottom: 30px;}
  span.counter-count{font-size: 35px;margin-right: 10px;}
  .recent-work {margin-bottom: 50px;}
  .contact-form .form-control{margin-bottom: 15px;}
  .mxl-btm{margin-bottom: 30px !important;}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /*.figure-img{display: none;}*/
  .banner-page{height: auto;}
  .single-person{
    margin-bottom:  30px;
  }
  .w-count{
    font-size: 18px;
    line-height: 22px;
  }
  span.counter-count{font-size: 40px;margin-right: 10px;}
  section{padding-bottom: 40;padding-top: 50px;}
  .section-heading{margin-bottom: 40px;}
  .our-team .section-heading{text-align: center !important;}
  #testimonial{margin-top:30px;}
  .carousel-item{text-align: center;}
  .test_btn{bottom: -114%;top:0;}
  .footer-div{
    margin-bottom:  30px;
    padding-left: 25px;
  }
  .content-box{margin-bottom: 30px;}

  .features-box{margin-bottom: 30px;}
  .about-group-img h3{font-size: 35px;line-height: 45px;}
  .about-img-bg{}
  .about-img-1 {width: 100%;margin-bottom: 20px;}
  .about-img-2{width: 100%;}
  .banner-page .section-title{
    font-size: 45px;
  }
  .content-box {
      margin-top: 50px;
      padding-right: 0;
      padding-left: 20px;
  }
  .c_item{margin-bottom: 30px;}
  .c_img img{width: 100%}
  .contact-page .section-heading{text-align: center;
  }
  .section-title{font-size: 30px;}
  .contact-address ul li:not(:last-child){
    margin-bottom: 16px;
  }
  .contact-form .form-control{margin-bottom: 15px;}
  .about-img-1{margin-bottom: 15px;}
.recent-work{margin-bottom: 50px;}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .banner-row-left{
    margin: 0 auto !important;
  }
  .banner-left {
    margin-top: 130px;
  }
  section{
    padding:  50px 0;
  }
  section.banner-page{padding: 0}
  .features-box{margin-bottom: 30px;}
  .banner-page .section-title{
    font-size: 40px;
  }
  .w-count{
    font-size: 18px;
    line-height: 22px;
  }
  span.counter-count{font-size: 40px;margin-right: 10px;}
  
  .footer-div{
    margin-bottom:  30px;
  }
  .c_item{margin-bottom: 30px;}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .banner-row-left{
      margin: 0 auto !important;
    }
    .banner-bg {
      background-image: url(../image/banner-left-bg.png);
      background-repeat: no-repeat;
      background-position: cover;
    }
}

/* Extra Large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .banner-row-left{
    margin-left: auto !important;
  }
  .banner-bg {
    background-image: url(../image/banner-left-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
  }
  .banner-row-left{
    padding-left: 50px !important;
  }
}

/* Extra Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
  .banner-row-left{
    margin-left: auto !important;
  }
  .banner-bg {
    background-image: url(../image/banner-left-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
  }
  .banner-row-left{
    padding-left: 50px !important;
  }
}