@import url("webfont/onlinewebfonts.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

:root{
  --primary-color: #ff7214;
  --secondary-color: #112e41;
  --dark-secondary-color: #10233a;
  --accent-color: #888888;
  --light-color: #f6f7fb;
  --white: #ffffff;

  --poppins: 'Poppins', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --body-font: var(--roboto);
  --normal-font-size: var(--regular);
  --body-color: var(--white);
  --text-color: var(--secondary-color);
  --transition: all .3s ease 0s;
  --transition-ease-in-out: all .3s ease-in-out 0s;
  --shadow: 0 0 10px rgb(0 0 0 / 7%);
  --button-shadow: 0 0 30px 5px rgb(0 0 0 / 5%);
  --border: 5px solid var(--light-color); 
}
/*Scroll width*/
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 40px;
}

h1,h2,h3,h4,h5{
  color: var(--secondary-color);
  font-family: var(--poppins);
  font-weight: var(--bold);
}
p{font-family: var(--roboto)}
a{transition: .3s ease;font-family: var(--poppins);
}
a:hover{
  color: var(--primary-color);
}
body{
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
ul{
  padding:  0;list-style: none;
}
a{
  text-decoration:  none;
}
img{
  max-width: 100%;height: auto;
}
/*========== CLASS CSS ==========*/


.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
    background-color: rgba(255, 255, 255) !important;  
}
.navbar.unsticky{
  background-color: rgba(255, 255, 255, 0.22) !important;
}
.nav-link{
  padding: 5px 20px;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 15px;
  color: #323541;
  font-weight: medium;

}

.nav-link:not(:last-child){
  margin: 10px;
}
.nav-link:focus, .nav-link:hover{
  color: var(--primary-color);

}


.text-bold{
  font-weight: bold;
}
.recent-content{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}
.recent-details{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  padding: 20px;
  color: #fff;
  z-index: 2;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  transition: all 1s ease-in-out;
}
.carousel1.owl-carousel .owl-prev, .carousel1.owl-carousel .owl-next{
  background: #fff  !important;
  border-radius: 50%;
  color: #333;
  width: 54px;
  height: 54px;
  line-height: 35px !important;
  content: '';
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%) scale(1, 1);
  z-index: 0;
  overflow: hidden;
  transition: all .3s linear;

}
.carousel1.owl-carousel .owl-prev{
  left: 0;
}
.carousel1.owl-carousel .owl-next{
  right: -46px;
}
.carousel1.owl-carousel .owl-prev:hover, .carousel1.owl-carousel .owl-next:hover{
  background: #333 !important;
  color: #fff;
}

.carousel1.owl-carousel .owl-prev i, .carousel1.owl-carousel .owl-next i{
  margin-left: 1px;
  margin-top: 16px;
  font-size: 20px;
}
.house-details span{
      opacity: 0.5;
      display: inline-block;
      padding: 0 5px;

}
.detailsbtn{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    font-size: 14px;    
    font-weight: 400;
    color: #fff;   
    letter-spacing: 1px;
    padding: 20px;
    opacity: 0;
    transform: translateY(400%);
    transition: all .4s ease-in-out;
}
.recent-img:hover .recent-img-bg{
      transform: scale(1.06, 1.06);
}
.recent-img:hover .recent-details{
  transform: translateY(-30%);
}
.recent-img:hover .detailsbtn{
  transform: translateY(0);
  opacity: 1;
}

.why-choose-us{
  background: url(../img/bg-service.jpg)no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  position: relative;
  padding: 8rem 0;
}

.feature-box-area{
  position: relative;
  margin-top: -100px;
  z-index: 1;
}

.box-shadow-inner{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}

/*feature box */
.single-featured-box{
  text-align: center;
  padding: 115px 25px 40px;
  overflow: hidden;
  position: relative;
}
.single-featured-box h3{
  margin-top: 15px 0;
  font-size: 18px;
  transition: .4s;
}
.single-featured-box p{
  font-size: 14px;margin-top: 12px;margin-bottom: 0;transition: .4s;
}f
.single-featured-box a.read-more-btn{
  background: linear-gradient(90deg, #000 0, #000 100%);
  background-clip: text;
  display: inline-block;
  position: absolute; 
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  font-weight: var(--font-normal);
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
  transition: .6s;
}
.single-featured-box a.read-more-btn:before{
  content: "";
  position: absolute;
  left: 0;bottom: 1px;
  width: 0;transition: .5s;
  height: 1px;
  background: linear-gradient(90deg, #18ba60 0, #18ba60 100%)
}
.single-featured-box a.read-more-btn:hover::before {
    width: 100%;
}
.single-featured-box:hover h3,
.single-featured-box:hover p {
    transform: translateY(-20px)
}
.single-featured-box:hover a.read-more-btn{
  opacity: 1;
  visibility: visible;
  bottom: 23px;
}
.box-shadow-inner .col-lg-3:not(:last-child){
  border-right: 1px solid #eee;
}
/*Client Page*/
.our-client-page{
  background: url(../img/bg-white.png) 0 0 repeat;
  padding: 3rem 0;
}
.our-client-page .owl-carousel .item img{
  width: 110px;background: transparent;
  display: block;transition: all .5s ease;
}

/*End our client*/
/*Infomation box*/
.info-container{
  padding: 9rem 0;
  background: url('../img/bg-2-home-5.jpg')no-repeat;
  background-size: cover;
  position: relative;

}
.btn-get{
  background: #3e4452;
  border: 0;
  margin-top: 10px;
  color: #fff;
  transition: all .5s ease;
}
.btn-get:hover{
  background: #212529;
}
.info-text{
  background: #fff;
  padding: 30px;
}
.info-text h3{
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 0;
  color: #3e4452;
}
.info-text h5{
  color: #333;
  font-weight: 500;
}
.info-text p{
  font-size: 16px;font-weight: 400;
  line-height: 35px;
  color: #3e4452;
  padding: 1.5rem 0;
  margin-bottom: 0;
}
/*Our happy customer */
.our-customer{
  background: url(../img/bg-white.png) 0 0 repeat; 
  padding: 3rem 0;
}
.testimonial-box{
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 15px;
  color: #000;
  text-align: center;
}

.testimonial-box h3{
  margin-bottom: 1.5rem;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.testimonial-box h6{
  font-weight: 400;
  margin-bottom: 0;
}
.testimonial-box img{
  width: 90px !important;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.testimonial-box p{
  font-style: italic;

  font-weight: 400;
  margin: .3rem auto 0;

}
.star-list{
  list-style: none;
  margin-top: 1rem;
  padding: 0;
}
.star-list li{
  display: inline-block;
}
.star-list li i{
  color: #febe42 !important;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
/*Contact Us*/
.contact-us .form-control{
  height: 60px;
  border-radius: 0;
}
.contact-inf{
  margin-top: 6rem;
}
.contact-inf h4{
  margin-bottom: 10px;
}
.box-circle{
  border: 2px dotted #000;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: block;
  text-align: center;
  border-radius: 50%;
}
.contact-inf .d-flex{
  margin-bottom: 10px;
}


/*Our team*/
.who-we-are{
    padding: 6rem 0;
}
.right-content1 span{
    color: #000;font-weight: 500;
}
.right-content1 span::after{
    content: "";
    height: 3px;
    width: 130px;
    margin-left: 7rem;margin-top: 0.7rem;margin-bottom: 1.5rem;
    background: #c18847;font-weight: bold;
    display: block;
}
.read-morebtn{
  background: #c18847;
  border-radius: 0;
  color: #fff;
  font-size:18px;
}
/*Our professional serive*/
.our-professional-service{
  padding: 3rem 0;
}
.service-body img{
  width: 50px;
}
.service-body h4{
  color: #111;
  font-size: 18px;
  font-weight: 500;
}
.service-body p{
    color: #666;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}
.card-img{
  position: relative;
}
.c_overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  background: rgba(0,0,0,.5);
  z-index: 2;
  margin: 0 auto;text-align: center;
  transition: all 700ms ease-in-out;
}

.c_overlay a{
  opacity: 0;
    color: #fff;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--yellow);
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 500;
    transition: all .5s ease;
}
.service-card{
  margin-bottom: 30px;
}
.service-card:hover .c_overlay{
  bottom: 0;
  height: 100%;
}
.service-card:hover .c_overlay a{
  opacity: 1
}
/*Scroll to top btn */

#toTopBtn {
   position: fixed;
  bottom: 26px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color: var(--yellow);
  
}

.js .cd-top--fade-out {
  opacity: .5;
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s,visibility .3s,background-color .3s;
}

.cd-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  height: 40px;
  width: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,.05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: var(--yellow);
}
.customers-carousel.owl-carousel .owl-dots{
  text-align: center;
}
.customers-carousel.owl-carousel button.owl-dot {
  background: var(--black) !important;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  border-radius: 50%;
}
.customers-carousel.owl-carousel button.owl-dot.active{
  background: var(--yellow) !important;
}

.nav-item.dropdown .nav-link{margin: 0}
.product .header-title{
  color: var(--white);
  font-size: 2em;
  margin-top: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  /*margin: 0 auto;*/
  margin-bottom: 1.5rem;
  /*mix-blend-mode: multiply;*/
  text-align: center;
}
.bottom-nav .header-link .breadcrumb-item +  .breadcrumb-item::before{
  font-size: 10px;
  margin-top: 6px;
}
.bottom-nav .header-link .breadcrumb-item a{text-transform: uppercase;font-size: 1rem;

font-weight: 500;}
.project-details{
  padding: 6rem 0;
  background: var(--white);  
}
.details-text h3{font-size: 18px;}
.details-text h3:after{
  width: 50px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  height: 3px;
  content: "";
  background: var(--yellow);
  display: block;
}
.details-text p{line-height: 26px;font-size: 14px;}
.complete-porject a{
      transition: all .5s ease;
}
.complete-porject a figure{
  background: var(--yellow);
  margin: 0;position: relative;
  overflow:hidden;
}
.complete-porject a figure img{
  width: 100%;opacity: 1;
  transition: .5s ease;
  transform: scale(1);
}
.complete-porject figure::before{
  position: absolute;
  top: 0;
  left: -90%;
  z-index: 2;
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
} 
.complete-porject a figure:hover img{
  opacity: .5;
}

.hover-effect:hover figure::before {
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
.hover-effect figure img {
    transform: scale(1);
    transition: .5s ease;
}
.hover-effect:hover figure img {
    transform: scale(1.3);
}

span.time{
  font-size: 14px;
  color: #000;
  line-height: 21px;
  font-weight: 400;
}
.btn-yellow{
  background: var(--yellow);
  margin-bottom: 0.7rem;
    margin-left: 0.2rem;
    color: #fff;border: 1px solid var(--yellow);
    transition: all .5s ease;
}
.btn.btn-yellow:hover{
  background:transparent;
  color: var(--yellow);
  border-color: var(--yellow);
}
.news-img-content{
  width: 90px;
  height: 70px;
}
.blog-title{
      font-size: 15px;
    color: #222;
    font-weight: 400;
}
.n-content{
  margin-bottom: 15px;
}

.box-1 ul{margin: 0;padding: 0}
.box-1 ul li{
      padding-left: 1rem;
    padding-bottom: 0.5rem;
}
.box-1 ul li a{
    color: #464646;
    transition: all .5s ease;
}
.box-1 ul li a i{
  margin-right: 1rem;
      float: right;
    margin-top: 0.2rem;
}