
.learn-more-btn{
	background: #FF7214;
	border-radius: 30px;
	color: #fff;
	font-size: 18px;
	padding: 10px 30px;
}
.btn-yellow{
	padding: 10px 25px;
	border-radius: 30px;
	background: #ff7214;
	border: 1px solid #ff7214;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	transition: .4s;
	background: linear-gradient(60deg, #154ab9 50%, #ff7214 50%);
	background-position: right bottom;
	background-size: 210% 100%;
}
.btn-yellow:hover{
	background-position: left bottom;
	color: #fff;
}
a.nav-link{
	position: relative;
}
a.nav-link:before{
	  content: "";
	  position: absolute;
	  left: 0;bottom: 1px;
	  width: 0%;transition: .5s;
	  height: 1px;
	  background: linear-gradient(90deg, #FF7214 0, #FF7214 100%)
}
a.nav-link:hover::before{
	width: 100%;
}
/*Banner Page */
.banner-page{
	background: #f7f7f7;
	/*padding: 13% 0 10%;*/
	height: 100vh;
	background-size: cover;
}
.banner-page .section-title{
	color: #112e41;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 30px;
}
.banner-para{
	color: #888888;
	font-size: 15px;
	margin-bottom: 30px;
}
/*About Us*/
.about-group-img{
	position: relative;
}
.about-img-bg{
	position: absolute;
	left: 50%;
	top: 30px;
	max-width: 545px;
	transform: translateX(-50%);
	z-index: -1;
}
.about-img-1{margin-top: 80px;}
.about-img-2{margin-bottom: 60px;}
.about-group-img h3 {

    font-size: 40px;
    line-height: 50px;
    margin-bottom: 0;
}
/*Special Features*/
.features-box{
	padding: 15px;
	text-align: center;
	border: 5px solid #f6f7fb;
	transition: .33s;
	cursor: pointer;
}
.features-box:hover {
  background-color: white;
  box-shadow: 0px 20px 40px rgb(0 0 0 / 10%);
}

.icon-box{
	border-radius: 50%;
	display: block;
	font-size: 27px;
	line-height: 70px;
	height: 70px;
	width: 70px;
	margin: auto;
	margin-bottom: 30px;
}
.icon-box i{
	font-size: 26px;
}
.bg-1{
	background: #FFEEE2;
}
.bg-2{
	background: #e6dcff;
}
.bg-2 i{
	color: #9165ff
}

.bg-3{
	background: #caf6ff;
}
.bg-3 i{
	color: #178efd
}
.bg-4{
	background: #ffe9f3;
}
.bg-4 i{
	color: #ff1481
}
.feature-desc h4{
	margin-bottom: 10px;
}
.feature-desc p{

}

/*recent work*/
.content-box{max-width: 500px;width: 100%;}
.content-box h2{
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 23px;
}
.learn-more{
	font-size: 14px;
	color: 233646;
	font-weight: 600
}
/*Work Page */
.work-page{
	background: #162B45;
	padding: 100px 0;
}
.work-page img{
	max-width: 65px;margin-bottom: 30px;
}

.w-count{
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 0;
	text-transform: uppercase;
	color: #fff;
}
span.counter-count{
	font-family: "Roboto", sans-serif;
	font-size: 60px;
	font-weight: 700;
	margin-right: 20px;
}

/*Team Style*/
.single-person{
	padding: 15px;
	text-align: center;
	border: 5px solid #f6f7fb;
}
.person-img{margin-bottom: 20px;}
a.person-name{color: #233646;font-weight: 700;margin-bottom: 10px;}
.person-details p{
	color: #888;
	font-size: 14px;
	margin-bottom: 20px;
}
.social-icon a{
	color: #999;font-size: 14px;padding: 0 10px;position: relative;
}
.social-icon a:not(:first-child):before{
	position: absolute;
	left: -1px;
	top: 10px;

	width: 5px;
	height: 5px;
	background: #999;
	content: '';
	border-radius: 50px;
}


/*News page*/
.c_item{
	border: 5px solid #f6f7fb;
	position: relative;
}
.news-content{
	padding: 35px 25px;
}
.news-date {
	font-size: 12px;
	text-transform: uppercase;
	color: #888;margin-bottom: 13px;
}
.news-date a{color: #888;padding: 0 15px;}
.news-category a{padding-left: 0}
a.h5{margin-bottom: 25px;display: block;}
.c_footer i{
	color: #FF7214
}
.c_footer span{
	font-size: 12px;
	text-transform: uppercase;
	color: #888
}
/*Contact us page */
section{
	padding: 50px 0;
}
.section-heading{
	margin-bottom: 80px;
}
p.top-title{
	color: #ff7214;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.section-title{font-size: 42px;margin-bottom: 0}
.contact-address ul li{display: flex;}
.contact-address ul li:not(:last-child){margin-bottom: 30px}
.contact-form .form-control{
	padding: 20px 25px;
	color: #999;
	border: 1px solid #e5e6ea;
	border-radius: 0;
	font-size: 14px;
}
.send-btn{
	background: #FF7214;
	color: #fff;
	padding: 11px 36px;
	font-weight: 600;
	border-radius: 30px;
}
/*Footer style*/
/*
999
#162B45
FF7214
*/
footer.topfooter{
	background: #162B45;
	color: #999;
	padding: 50px 0;
}

.footer-header h4{color: #fff;margin-bottom: 35px;font-size: 22px;font-weight: 600}
.footer-link a{color: #999;transition: .3s ease;margin-bottom: 3px;font-size: 16px;}
.footer-link a:hover{
	color: #FF7214;
}
.footer-para{
	color: #999;
font-size: 16px;
line-height: 24px;
padding-top: 16px;
}

.footer-content img{
	  transition: transform .5s ease;
}
.footer-content img:hover {
  transform: scale(0.5);
}
.insta-img {
	margin-bottom: 5px;
	margin-right: 1px;
}
.address li{display: flex;color: #999;margin-bottom: 10px;line-height: 23px;}
.address li span{
	padding-right: 15px;
float: left;
display: inline-block;
height: 20px;
}
.address li p{padding-left: 10px;}
.copyright{
	background: #10233A;
	color: #999;
	padding: 20px 0;
}
.copyright p{padding: 0;margin: 0}
.copyright a{
	color: #FF7214
}